html,
body,
#react-root {
  height: 100%;
  background-color: #dbf6e9;
  color: #31326f;
}

body {
  font-family: 'Noto Sans', sans-serif;
  margin: 0;
}

/* .hero-img {
  background-image: url("../../images/flags.jpg");
  background-repeat: no-repeat;
  background-size: cover;
} */

/* --------------------------------------------------------------------------------
Alert
-------------------------------------------------------------------------------- */

.alert {
  box-sizing: border-box;
  padding: 15px 10px;
  margin: 15px 0;
  border: 2px solid #EC524B;
  background-color: #50514f;
  border-radius: 3px;
  color: #EC524B;
  font-size: 0.8rem;
}

/* --------------------------------------------------------------------------------
DETAILED ADD-ONS
-------------------------------------------------------------------------------- */

.margin-btm {
  margin-bottom: 1rem;
}

.teal-underline {
  text-decoration: underline;
text-decoration-color: #9ddfd3;
}

span.teal-underline {
margin-right: 1rem;
}

.text-align-center {
  text-align: center;
}

.text-align-left {
  text-align: left;
} 

/* --------------------------------------------------------------------------------
2LearnerRegForm.jsx - Select Instructor Layout 
-------------------------------------------------------------------------------- */

.learner-instructor-section {
  border: 0.2rem solid #31326f;
}

.learner-instructor-avatar {
  height: 10rem;
} */

/* --------------------------------------------------------------------------------
LearnerProfilePage.jsx
-------------------------------------------------------------------------------- */

.learner-profile-personal {
  border: 0.2rem solid #31326f;
}
/* -----------------------------------------------
LearnerReviewPage.jsx
-------------------------------------------------- */
.learner-review-table, th, tr, td {
  border: 0.2rem solid #31326f;
  border-collapse: collapse;
}

.learner-table-feedback-row {
  color: #31326f;
  background-color: #9ddfd3;
}

/* -----------------------------------------------
InstructorProfilePage.jsx
-------------------------------------------------- */

.instructor-review-table, th, tr, td {
  border: 0.2rem solid #31326f;
  border-collapse: collapse;
}

.instructor-table-feedback-row {
  background-color: #E6E5E5;
  color: #31326f;
}