.moneda-announcement {
  z-index: +1;
}

.moneda-number {
  font-size: 2rem;
}

.moneda-star-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 12rem;
  margin: 1rem;
}

.star-img {
  position: absolute;
  height: 15rem;
  /* z-index: -1; */
}

.streak-title {
  /* background-color: #31326f;
  color: #9ddfd3; */
  color: #31326f;
  font-size: 1.25rem;
  width: 75%;
  margin: 40px auto;
  text-decoration: underline;
  text-decoration-color: #ffc93c;
  text-decoration-thickness: 3px;
  /* border-radius: 5px;
  padding: 1rem; */
  /* box-shadow: 0.25rem 0.25rem 0.25rem #E6E5E5;  */
}

