.center {
  margin: 10px auto;
}

.date-submitted {
  text-align: right;
  width: 100%;
}

.given-word {
  font-size: 150%;
  /* text-align: center; */
  /* align-self: center; */
  /* border: 1px solid #9ddfd3; */
  padding: 5px;
  border-radius: 5px;
  margin: 20px 0;
  width: 50%;
}

.grid-container-submissions {
  display: grid;
  margin: auto;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(6rem, 100%);
  grid-gap: 0;
  justify-content: center;
  width: 90%;
}

.grid-item-submissions {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  background-color: white;
  padding: 20px;
  height: 32.25rem;
  border-radius: 5px;
  /* border: 1px solid #31326f; 
  /* box-shadow: 0.25rem 0.25rem 0.25rem#9ddfd3; */
  margin: 10px;
}

.img-submissions {
  height: 200px;
}

.make-flex-submissions {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  border: 1px solid #9ddfd3;
  border-radius: 5px;
  padding: 10px;
}

.make-flex-submissions-word {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  border: 1px solid #9ddfd3;
  border-radius: 5px;
  padding: 10px;
  height: 100px;
}

.make-flex-submissions-q {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  border: 1px solid #9ddfd3;
  border-radius: 5px;
  padding: 10px;
  height: 50px;
}