.center {
  margin: 30px auto;
}

.date-submitted {
  text-align: right;
  width: 100%;
}

.feedback {
  width: 1fr;
  border: 1px solid #9ddfd3;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.given-word {
  font-size: 150%;
  /* text-align: center; */
  /* align-self: center; */
  /* border: 1px solid #9ddfd3; */
  padding: 5px;
  border-radius: 5px;
  margin: 20px 0;
  width: 50%;
}

.grid-container-submissions {
  display: grid;
  margin: auto;
  grid-template-columns: repeat(2, 1fr);
  /* grid-auto-rows: minmax(100%); */
  grid-gap: 10px;
  justify-content: center;
  width: 90%;
}

.grid-item-submissions {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: white;
  padding: 20px;
  height: inherit;
  /* min-height: 32.5rem; */
  /* max-height: 100%; */
  border-radius: 5px;
  margin: 10px;
}

.img-submissions {
  height: 200px;
}

.instructor-response {
  width: 100%;
  margin: 0 auto 10px ;
  align-self: center;
}

.make-flex-submissions {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  border: 1px solid #9ddfd3;
  border-radius: 5px;
  padding: 10px;
}

.make-flex-submissions-word {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  border: 1px solid #9ddfd3;
  border-radius: 5px;
  padding: 10px;
  height: 100px;
}

.make-flex-submissions-q {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  border: 1px solid #9ddfd3;
  border-radius: 5px;
  padding: 10px;
  height: 70px;
}