.moneda-number-xl {
  font-size: 7rem;
}

.moneda-star-container-xl {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40rem;
  margin: 1rem;
  font-size: 1.5rem;
}

.star-image-xl {
  position: absolute;
  height: 40rem;
  /* z-index: -1; */
}