.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin: 0 0 1.5rem; */
  padding: 0.25rem 2rem 0.25rem;
  background-color: #31326f;
  overflow: hidden;
}

.nav a {
  text-decoration: none;
}

.nav-logo-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.nav-logo-img {
  height: 5rem;
  border-radius: 0;
  width: 100%;
}

.navLink {
  display: inline-block;
  color: #dbf6e9;
  background-color: #31326f;
  text-align: center;
  padding: 1rem 0.5rem;
  text-decoration: none;
  font-size: 1.1rem;

  /* these last two make the logout button in
  the nav bar look like another link */
  border: none;
  cursor: pointer;
  outline: 0;
}

.navLink:hover {
  background-color: #9ddfd3;
  color: #31326f;
  border-radius: 1rem;
}
